<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="纯恒,上海纯恒,上海纯恒环境科技有限公司,马继红">
    <meta name="description" content="上海纯恒环境科技有限公司是一家黑公司，千万别去">
    <title>上海纯恒环境科技有限公司</title>
</head>
<body>
    <h1>上海纯恒环境科技有限公司是一家黑公司，千万别去！！！</h1>
    <h2>建站背景</h2>
    <p>一个普通职员受到了上海纯恒环境科技有限公司不公平待遇，以免其他人上当受骗而创建。</p>
     <h2>故事背景</h2>
    <p>受害人是我老婆，2017年1月16号入职，到今天（2017年4月6日）被赶出公司还没过试用期，有人说为什么没有过试用期？这该从我老婆的领导，大家称elma ma（中文名字：马继红）开始讲起了，以下简称马，马和她老公很早就跟大老板混了，是大老板的红人，去年大老板成立了现在这家新公司： 上海纯恒环境科技有限公司，马自然就成了一把手，同时马她老公自然是二把手，此二人在公司，基本上要风得风要雨得雨，我老婆当时是马通过猎头介绍招进来的，面试期间我老婆也表明以前做的销售工作跟现在行业完全不一样，一来没有资源，二来没有经验，马说没问题，说她有资源，有经验，不过在我老婆在职的这些日子里，马基本就没提供什么有用的帮助，交待事情也是简单说说，让你自己去理解，完全没做到一个领导该有的样，多问几句也没耐心，我老婆就这样艰难的做到现在，客户关系也建立了一些，原本打算好好做出点成绩证明自己，可是在前几个星期马通知我老婆试用期没过，理由就是没业绩，大家都知道销售这个行业，短短2个月不到能出来什么业绩，而且是一个没有这个行业经验的人，其实马说了这么多理由无非就是想让我老婆走，其实原因很简单，一个马急着要成绩，二个我老婆有自己的想法，有些马不合理的决策提了点建议，却被当成不听话处理，马觉得控制不了我老婆，觉得是眼中钉，所以马就想辞掉我老婆，这种事在这家公司不是唯一的例子，在这之前马也因为别人跟她意见不合，把人给排挤掉，大家要问了，这么胡作非为大老板不管吗？其实大老板也知道马，只是还是想维护她，毕竟之前也帮大老板做了很多事嘛！但这样下去公司迟早要完。</p>
    <P>我老婆第一次被通知辞退就让对方给出正当理由，可是都是欲加之罪，说什么都是各个部门决定的，更是老板决定的，我老婆打算第二天找大老板问问情况的时候，马突然又找到我老婆说可以留下，意思是愿意给机会，我们当然没有撕破脸，那就继续干呗，还是想证明自己，但好景不长，清明节前期，突然又找到我老婆说要辞退，如此反复像是一个正常人正常公司的行为吗？第二天我老婆找到了大老板，大老板还是一如既往的维护马了，我们猜测，第一次马根本就没跟老板商量就做辞退的决定，后面觉得这样做可能老板不高兴，所以又留下我老婆，其实就是稳住我老婆，然后再去老板那边做好工作，各种中伤我老婆的话肯定说了不少，完全没有悬念，期间人事联合马找我老婆说想让她选择自愿离职，这怎么可能，我们完全没有做错事，为什么要承认是自己能力问题，人家也不管，直接发个邮件说我们友好协商，规定2017年4月6号办理离职，离职当日他们拿出准备的材料，大概就是承认自愿业绩为零，无法胜任工作，自愿离职，让我们签字，你们想可能吗？但人家有后招，不签字，不给开离职证明，直到今天（2017年4月6号），逼迫我们走上劳动仲裁，也逼我创了这个站，后面我们会把维权过程发上来，大家可以借鉴，写这么多，就想告诉<strong>即将要去这家公司上班和要跟这家做生意的朋友，请小心，就职的朋友不要上当，做生意的朋友请慎重！！！！</strong></P>
    <h2>维权过程</h2>
    <ul>
        <li>2017-04-06 去黄浦区劳动仲裁，排队取号中<img width="50%" height="50%" src="../img/paidui.jpg"/></li>
    </ul>
</body>
</html>